<app-game-home *ngIf="gameNotStarted$ | async"></app-game-home>
<app-game-scan-players *ngIf="gameStarted$ | async"></app-game-scan-players>
<app-game-scanning *ngIf="isScanning$ | async"></app-game-scanning>
<app-game-player-names *ngIf="scannedPlayers$ | async"
    [numberOfPlayers]="numberOfPlayers$ | async "
    [isScanning]="scannedPlayers$ | async"
    [players]="players$ | async"></app-game-player-names>
<app-game-round-starting *ngIf="roundStarting$ | async"></app-game-round-starting>
<app-game-round  *ngIf="roundStarted$ | async" 
    roundStageName="Pre-flop" 
    [roundNumber]="roundNumber$ | async"
    [nextShowCards]="3"></app-game-round>
<app-game-round  *ngIf="dealtCard1$ | async" 
    roundStageName="Flop" 
    [roundNumber]="roundNumber$ | async"
    [nextShowCards]="1"></app-game-round>
<app-game-round  *ngIf="dealtCard2$ | async" 
    roundStageName="Turn" 
    [roundNumber]="roundNumber$ | async"
    [nextShowCards]="1"></app-game-round>
<app-game-money-status *ngIf="roundFinished$ | async"
    [players]="players$ | async"></app-game-money-status>
<app-game-end *ngIf="gameEnded$ | async"
    [winnerName]="winnerName$ | async"></app-game-end>