
:host {
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.wrapper {
    width: 100vw;

    .container{
        top: 150px;
        display: flex;
        overflow: auto;
    }
}