<mat-nav-list>
    <mat-list-item>
        <a matLine routerLink="game">Game</a>
        <button mat-icon-button>
            <mat-icon>info</mat-icon>
        </button>
    </mat-list-item>
    <mat-list-item>
        <a matLine routerLink="stats">Stats</a>
        <button mat-icon-button>
            <mat-icon>info</mat-icon>
        </button>
    </mat-list-item>
    <mat-list-item>
        <a matLine (click)="resetGame()">Reset</a>
        <button mat-icon-button>
            <mat-icon>info</mat-icon>
        </button>
    </mat-list-item>
</mat-nav-list>