/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();




// Dark theme
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

html, body {
    min-height: 100vh;
    height: auto;
    margin: 0;
  }
  
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@include angular-material-theme($dark-theme);

h1 {
  font-size: 3em !important;
  line-height: 1em !important;
}

h4 {
  font-size: 2em !important;
}